<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
<body>
<nav id="sidebar" class="active" th:fragment="sidebar">
    <h1><a th:href="@{/}" class="logo">M.</a></h1>
    <ul class="list-unstyled components mb-5">
        <li>
            <a th:href="@{#}"><span class="fa-solid fa-chart-line"></span>Dashboard</a>
        </li>
        <li>
            <a th:href="@{/admin/users}"><span class="fa-solid fa-users"></span>Users</a>
        </li>
        <li>
            <a th:href="@{#}"><span class="fa-solid fa-icons"></span>Categories</a>
        </li>
        <li>
            <a th:href="@{#}"><span class="fa-solid fa-user-pen"></span>Authors</a>
        </li>
        <li>
            <a th:href="@{/book/books}"><span class="fa-solid fa-book"></span>Books</a>
        </li>
    </ul>
    <div class="footer">
        <p>
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib.com</a>
        </p>
    </div>
</nav>
</body>
</html>