<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<!-- Customer Navbar Fragment -->
<div th:fragment="navbar">
    <div id="header-wrap">
        <div class="top-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <div class="social-links">
                            <ul>
                                <li><a href="#"><i class="icon icon-facebook"></i></a></li>
                                <li><a href="#"><i class="icon icon-twitter"></i></a></li>
                                <li><a href="#"><i class="icon icon-youtube-play"></i></a></li>
                                <li><a href="#"><i class="icon icon-behance-square"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="right-element">
                            <!-- Profile/Account Link -->
                            <a th:href="@{/customer/profile}" class="user-account for-buy">
                                <i class="icon icon-user"></i>
                                <span>Account</span>
                            </a>

                            <!-- Wishlist Link with Inline Number -->
                            <a th:href="@{/wishlist}" class="wishlist for-buy">
                                <svg style="color: #e74c3c; height: 3vh; width: 3vh;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                                </svg>
                                <span>Wishlist</span>
                                <span class="inline-count wishlist-count"
                                      th:if="${wishlistCount != null && wishlistCount > 0}"
                                      th:text="${wishlistCount}">0</span>
                            </a>

                            <!-- Cart Link with Inline Number -->
                            <a th:href="@{/cart}" class="cart for-buy">
                                <svg style="color: #27ae60; height: 3vh; width: 3vh;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16">
                                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                                </svg>
                                <span>Cart</span>
                                <span class="inline-count cart-count"
                                      th:if="${cartSummary != null && cartSummary.itemCount > 0}"
                                      th:text="${cartSummary.itemCount}">0</span>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <header id="header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2">
                        <div class="main-logo">
                            <a th:href="@{/customer/home}">
                                <img th:src="@{/images/main-logo.png}" alt="logo">
                            </a>
                        </div>
                    </div>

                    <div class="col-md-10">
                        <nav id="navbar">
                            <div class="main-menu stellarnav">
                                <ul class="menu-list">
                                    <li class="menu-item">
                                        <a th:href="@{/customer/home}" class="nav-link">Home</a>
                                    </li>
                                    <li class="menu-item">
                                        <a th:href="@{/customer/all-books}" class="nav-link">All Books</a>
                                    </li>
<!--                                    <li class="menu-item">-->
<!--                                        <a href="#special-offer" class="nav-link">Offer</a>-->
<!--                                    </li>-->
                                    <li class="menu-item">
                                        <a href="#" class="nav-link">My Books</a>
                                    </li>
                                    <li class="menu-item">
                                        <button type="button" class="nav-link btn btn-link logout-btn"
                                                style="border: none !important; outline: none !important; box-shadow: none !important;">
                                            Sign out
                                        </button>
                                    </li>
                                </ul>

                                <div class="hamburger">
                                    <span class="bar"></span>
                                    <span class="bar"></span>
                                    <span class="bar"></span>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
    </div>
</div>
</body>
</html>