<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<!-- Customer Navbar Fragment -->
<div th:fragment="navbar">
    <div id="header-wrap">
        <div class="top-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <div class="social-links">
                            <ul>
                                <li><a href="#"><i class="icon icon-facebook"></i></a></li>
                                <li><a href="#"><i class="icon icon-twitter"></i></a></li>
                                <li><a href="#"><i class="icon icon-youtube-play"></i></a></li>
                                <li><a href="#"><i class="icon icon-behance-square"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="right-element">
                            <a href="#" class="user-account for-buy">
                                <i class="icon icon-user"></i><span>Account</span>
                            </a>
                            <a href="#" class="cart for-buy">
                                <i class="icon icon-clipboard"></i><span>Cart:(0 $)</span>
                            </a>
                            <div class="action-menu">
                                <div class="search-bar">
                                    <a href="#" class="search-button search-toggle" data-selector="#header-wrap">
                                        <i class="icon icon-search"></i>
                                    </a>
                                    <form role="search" method="get" class="search-box">
                                        <input class="search-field text search-input" placeholder="Search" type="search">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <header id="header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2">
                        <div class="main-logo">
                            <a th:href="@{/customer/home}">
                                <img th:src="@{/images/main-logo.png}" alt="logo">
                            </a>
                        </div>
                    </div>

                    <div class="col-md-10">
                        <nav id="navbar">
                            <div class="main-menu stellarnav">
                                <ul class="menu-list">
                                    <li class="menu-item">
                                        <a th:href="@{/customer/home}" class="nav-link">Home</a>
                                    </li>
                                    <li class="menu-item">
                                        <a th:href="@{/customer/all-books}" class="nav-link">All Books</a>
                                    </li>
                                    <li class="menu-item">
                                        <a th:href="@{/wishlist}" class="nav-link">
                                            Wishlist
                                            <span class="wishlist-count-badge" th:if="${wishlistCount > 0}" th:text="${wishlistCount}"></span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#special-offer" class="nav-link">Offer</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#" class="nav-link">My Books</a>
                                    </li>
                                    <li class="menu-item">
                                        <button type="button" class="nav-link btn btn-link logout-btn"
                                                style="border: none !important; outline: none !important; box-shadow: none !important;">
                                            Sign out
                                        </button>
                                    </li>
                                </ul>

                                <div class="hamburger">
                                    <span class="bar"></span>
                                    <span class="bar"></span>
                                    <span class="bar"></span>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
    </div>
</div>
</body>
</html>