<div th:fragment="updateUserModal" xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- Modal -->
    <div class="modal fade" id="updateUserForm" tabindex="-1" role="dialog" aria-labelledby="updateUserModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form id="updateUserFormElement" onsubmit="return false;">
                    <input type="hidden" id="updateUserId" name="id" />
                    <div class="modal-header">
                        <h5 class="modal-title" id="updateUserModalTitle">Update User</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6 mb-4">
                                <div data-mdb-input-init class="form-outline">
                                    <label class="form-label" for="updateFirstName">First Name *</label>
                                    <input type="text" id="updateFirstName" name="first_name" class="form-control" required />
                                </div>
                            </div>
                            <div class="col-md-6 mb-4">
                                <div data-mdb-input-init class="form-outline">
                                    <label class="form-label" for="updateLastName">Last Name *</label>
                                    <input type="text" id="updateLastName" name="last_name" class="form-control" required />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-4 d-flex align-items-center">
                                <div data-mdb-input-init class="form-outline">
                                    <label class="form-label" for="updateEmailAddress">Email</label>
                                    <input type="email" id="updateEmailAddress" name="email" class="form-control" readonly style="background-color: #f8f9fa;" />
                                    <small class="text-muted">Email cannot be changed</small>
                                </div>
                            </div>

                            <div class="col-md-6 mb-4 d-flex align-items-center">
                                <div data-mdb-input-init class="form-outline">
                                    <label class="form-label" for="updateMobile">Mobile</label>
                                    <input type="tel" id="updateMobile" name="mobile" class="form-control" pattern="[0-9]{10,}" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-4 pb-2">
                                <div data-mdb-input-init class="form-outline">
                                    <label class="form-label" for="updateAddress">Address</label>
                                    <input type="text" id="updateAddress" name="address" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-6 mb-4 pb-2">
                                <div data-mdb-input-init class="form-outline">
                                    <label class="form-label" for="updateImageFile">Avatar</label>
                                    <input type="file" class="form-control" id="updateImageFile" name="imageFile" accept="image/*" />
                                    <small class="text-muted">Leave empty to keep current image</small>
                                </div>
                            </div>
                        </div>

                        <!-- Current Avatar Display -->
                        <div class="row" id="currentAvatarRow" style="display: none;">
                            <div class="col-12 mb-3">
                                <label class="form-label">Current Avatar:</label>
                                <div class="text-center">
                                    <img id="currentAvatar" src="" alt="Current Avatar" class="img-thumbnail" style="max-width: 100px; max-height: 100px; object-fit: cover;">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-4">
                                <div data-mdb-input-init class="form-outline" data-mdb-show-password-init>
                                    <label class="form-label" for="updatePassword">New Password</label>
                                    <input type="password" id="updatePassword" name="password" class="form-control" minlength="8" />
                                    <small class="text-muted">Leave empty to keep current password</small>
                                </div>
                            </div>
                            <div class="col-md-6 mb-4">
                                <div data-mdb-input-init class="form-outline" data-mdb-show-password-init>
                                    <label class="form-label" for="updateConfirmPassword">Confirm New Password</label>
                                    <input type="password" id="updateConfirmPassword" name="confirmPassword" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>